.custom-table {
  display: table;
  width: 100%;
}

.custom-table-row {
  display: table-row;
}

.custom-table-header {
  font-weight: bold;
}

.custom-table-row div:first-child {
  width: 2% !important;
}

.custom-table-row-column {
  display: table-cell;
  border: 1px solid #999999;
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

.custom-table-center {
  text-align: center;
}

.RedOpacity {
  background-color: rgba(240, 129, 129, 0.3);
}

.YellowOpacity {
  background-color: rgba(240, 227, 129, 0.3);
}

.GreenOpacity {
  background-color: rgba(41, 227, 128, 0.3);
}

a.newsstyles:link {
  color: #212529;
}

a.newsstyles:visited {
  color: #212529;
}

a.newsstyles:hover {
  color: #212529;
}

a.newsstyles:active {
  color: #212529;
}

.details-style {
border: 1px solid #999;
border-radius: 5px;
margin: 0 2em .4em 2em;
padding: 1.04%;
margin: 1em;
cursor: pointer;
}
 
.summary-title {
border-radius: 5px;
cursor: pointer;
margin: -1%;
padding: 8px 10px;
background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}

