{{template "_head.html" .}}
<div class="container">
  <h1>Добавить новость</h1>
  <form enctype="multipart/form-data" action="/addnews/" method="POST" class="upload-form">
    <div class="form-group">
      <label>Заголовок новости</label>
      <input type="text" class="form-control" placeholder="Введите заголовок" name="title">
    </div>
    <div class="form-group">
      <label>Превью к новости</label>
      <textarea class="form-control" name="short_content" placeholder="Текст новости" rows="3" maxlength="215" ></textarea>
    </div>
    <div class="form-group">
      <label>Текст новости</label>
      <textarea class="form-control" name="content" placeholder="Текст новости" rows="10" ></textarea>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" name="publishing_at_main_page">
        <label class="form-check-label" for="defaultCheck1">
          Публикация на главной странице
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" name="publishing_at_lit_page">
        <label class="form-check-label" for="defaultCheck1">
          Публикация на сайте лицея
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" name="publishing_at_EC">
        <label class="form-check-label" for="defaultCheck1">
          Публикация на странице ЦО
        </label>
      </div>
    </div>
    <div class="form-group">
      <span id="file-group" class="hidden">
        Изображения к новости:
        <input class="upload-file" type="file" multiple="multiple" name="myfiles" id="myfiles" accept="image/*" data-max-size="5242880">
      </span>
    </div>    
                        
    <button type="submit" class="btn btn-primary">Сохранить</button>               
  </form>
</div>

</body>
</html>