{{template "_head.html" .}}
<div class="container">
  <h1>Регистрация</h1>

  <form action="/signup/" method="POST">
    <div class="form-group">
      <label>Логин</label>
      <input type="text" class="form-control" placeholder="Введите логин" name="login">
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input type="password" class="form-control" placeholder="Пароль" name="password">
    </div>

    <div class="form-group">
      <label>Фамилия</label>
      <input type="text" class="form-control"  placeholder="Введите Вашу фамилию" name="surname">
    </div>

    <div class="form-group">
      <label>Имя</label>
      <input type="text" class="form-control"  placeholder="Введите Ваше имя" name="name">
    </div>

    <div class="form-group">
      <label>Отчество</label>
      <input type="text" class="form-control"  placeholder="Введите Ваше отчество" name="patronumic">
    </div>

    <div class="form-group">
      <label>СНИЛС</label>
      <input type="text" class="form-control"  placeholder="Введите Ваш снилс" name="snils">
    </div>
    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
  </form>
</div>

</body>
</html>

